services:
  frigate:
    image: ghcr.io/blakeblackshear/frigate:stable
    ports:
      - "8971:8971"
      - "5000:5000" # Internal unauthenticated access. Expose carefully.
      - "8554:8554" # RTSP feeds
      - "8555:8555/tcp" # WebRTC over tcp
      - "8555:8555/udp" # WebRTC over udp
    volumes:
      - ./config:/config
      - ./storage:/media/frigate