mqtt:
  enabled: false

cameras:
  N01:
    ffmpeg:
      inputs:
        - path: rtsp://a:q@192.168.101.x:554/stream1
          roles:
            - detect
            - record
  S01:
    ffmpeg:
      inputs:
        - path: rtsp://a:a@192.168.200.x:554/1
          roles:
            - detect
            - record
  S02:
    ffmpeg:
      inputs:
        - path: rtsp://a:q@192.168.101.x:554/stream1
          roles:
            - detect
            - record
objects:
  track:
    - person
    - car
    - bicycle
    - motorcycle
    - bus
    - dog
    - cat
detect:
  enabled: true
  width: 1280
  height: 720
  fps: 5
  min_initialized: 2
  max_disappeared: 25
  stationary:
    interval: 50
    threshold: 50
record:
  enabled: true
  retain:
    days: 7
    mode: all
semantic_search:
  enabled: false
  model_size: small
face_recognition:
  enabled: false
  model_size: small
lpr:
  enabled: true
classification:
  bird:
    enabled: false
version: 0.16-0
