mqtt:
  enabled: false

cameras:
  N01:
    detect:
      width: 1280
      height: 720
      fps: 5
    ffmpeg:
      inputs:
        - path: rtsp://a:q@192.168.101.x:554/stream1
          roles:
            - detect
            - record
  S01:
    detect:
      width: 1280
      height: 720
      fps: 5
    ffmpeg:
      inputs:
        - path: rtsp://a:a@192.168.200.x:554/1
          roles:
            - detect
            - record
  S02:
    detect:
      width: 1280
      height: 720
      fps: 5
    ffmpeg:
      inputs:
        - path: rtsp://a:q@192.168.101.x:554/stream1
          roles:
            - detect
            - record
objects:
  track:
    - person
    - car
    - dog
    - cat
detect:
  enabled: true
record:
  enabled: true
  retain:
    days: 7
    mode: all
semantic_search:
  enabled: false
  model_size: small
face_recognition:
  enabled: false
  model_size: small
lpr:
  enabled: true
classification:
  bird:
    enabled: false
version: 0.16-0
